.h2 {
    transform: rotate(60deg);
}

.h3 {
    transform: rotate(-60deg);
}

.c1 {
    margin-left: -141px;
    margin-top: -45px;
}

.c2 {
    margin-left: -93px;
    margin-top: -129px;
}

.c3 {
    margin-left: 3px;
    margin-top: -129px;
}

.c4 {
    margin-left: 51px;
    margin-top: -45px;
}

.c5 {
    margin-left: -93px;
    margin-top: 39px;
}

.c6 {
    margin-left: 3px;
    margin-top: 39px;
}
